<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page2</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-01-01T22:26:03Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>14EEEECF-94DC-490E-8BF4-48A0AB83A9CC</string>
			<key>PageDigests</key>
			<dict>
				<key>page2.gtpl</key>
				<dict>
					<key>Digest</key>
					<data>
					D+1k73tUb5bocp5LSmH+YA==
					</data>
					<key>Size</key>
					<integer>3039</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page2</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
